

/*Custom Css */

body {
    background: #f8f9faba;
    color: #303030;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;

}
.card-body {
    height: 249px;
    position: relative;
}

canvas {
    position: absolute;
    z-index : 10;
    top: 0;
    left: 0;
    /*opacity: 1.0;*/
    filter:contrast(140%) brightness(150%) saturate(1.1) opacity(1);
}
video  {
    z-index: 5;
    left:0;
    bottom:0;
    min-width:480px;
    min-height:360px;
    position: absolute;
    /*opacity: 1.0;*/
    filter:contrast(140%) brightness(150%) saturate(1.1) opacity(1);
}


.none {
    display: none!important;
}


.global-chat {
    font-family: 'Bungee', cursive;
    font-size: 17px;
    color: #778899;
    font-weight: 400;
}



li.media:hover {
    background: #f8f9fa;
    cursor: pointer;
}
.nav-link {
    padding: 0;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #495057;
  background-color: #fff;
}

a.nav-link  , a.footer {
    color: #495057;
    text-decoration: none;
    background-color: transparent;
}

.scroll-list {
height: 20em;
overflow-y: scroll;
overflow-x: hidden;
}


.text-blue {
    color:#4a8fba;
}


a.head {
    color:#4d91bb;
    font-size:16px;
    font-family: 'Bungee', cursive;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;


}


a.heading {
    color: #276dc1!important ;
    text-shadow: 2px 1px 0px #fff, 3px 2px 0px rgba(0,0,0,0.15);
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 40%, rgba(0,0,0,.6) 100%);
    -webkit-mask-size: 200%;
    animation: shine 8s linear infinite;
}
.bg-custom {
    background: #FFF8DC!important;
}

a.files {
    color: #6f42c1d9;
    font-size: 12px;
    font-family: 'Bungee', cursive;
}
a.files:hover {
    color: #0056b3;
    text-decoration: underline;
}
/* Wifi - Icons Animated */

#ids {
    -ms-transform: rotate(135deg); /* IE 9 */
    -webkit-transform: rotate(135deg); /* Safari 3-8 */
    transform: rotate(135deg);

}

/* Wifi End */


/* Custom Css End */





/* OVERRIDE FOCUS */

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: #0062cc47;
    box-shadow: none;
    outline: 0 none;
}

.form-control {
    border-radius: 0!important;

}

.btn-secondary.focus, .btn-secondary:focus {
    box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0);
}
.btn-secondary {
    background-color: #adb5bd;;
    border-color: #adb5bd;;
}

.btn {
    border-radius: 0;
}

.shadow-sm {
    border-radius:15px;
}

li.list-group-item {
    padding: .20rem 0.75rem!important;
}

mark {
    background-color: #20c9972b;
}

/* Override - Boostrap End */


